In [11]:
import pandas as pd

my_file = "/Users/VPV/Desktop/test/mobile.csv"
df = pd.read_csv(my_file, low_memory=False)

# https://www.geeksforgeeks.org/difference-between-loc-and-iloc-in-pandas-dataframe/

df.loc[(df['mot']== 'TEST' )] 
df
#df.to_csv('/Users/VPV/Desktop/pandas/extract.csv', header=True, index=False, encoding="utf8")

        prenom                nom       date2       mot    cp  Téléphone  Fixe
0     Philippe            LAROCHE  1954-02-24      TEST  25.0      380216294.0
1      Mancins            JOSIANE  1942-12-09      TEST  25.0      380264273.0
2       Myriam             GENLOT  1950-07-02      TEST  24.0      380241656.0
3      Annette              GENET  1947-03-24     HELLO   NaN      380241509.0
4       Gerard          GOUVERNET  1959-08-23     HELLO   NaN      380240843.0
...        ...                ...         ...       ...   ...              ...
1412  FAUSTINA  COLLADO-VINCENEUX         NaN  ANNUAIRE   NaN      380266927.0
1413   FELICIE    NZIENGUI-PAMBOU         NaN  ANNUAIRE   NaN      964428079.0
1414    SANDRA     SANCHEZ-TOLEDO         NaN  ANNUAIRE   NaN      380201649.0
1415    CLAUDE      PETIT-MARNIER         NaN  ANNUAIRE   NaN      345465175.0
1416  NATHALIE      PAGEARD-GABET         NaN  ANNUAIRE   NaN      802210870.0

[1417 rows x 6 columns]